.title {
  color: #232946;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #232946;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background:  #eebbc3;
  border-radius: 4px;
  color:  #232946;
  text-align: center;
}